:root {
    --navy-50: #f6f8fc;
    --navy-100: #dee2f2;
    --navy-200: #c9d0e6;
    --navy-900: #212242;
    --white: #ffffff;
    --purple-300: #825eeb;
    --green-300: #1fcca1;
    --green-400: #00998c;
    --red-300: #f24d6b;
    --red-400: #d92148;
    --mute-gray: rgba(255, 255, 255, 0.2);
}

body {
    margin: 0 auto;
    overflow: hidden;
}

.center {
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-reverse {
    display:flex;
    flex-direction: row-reverse;
}

.btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
    font-family: Avenir Next;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    height: 40px;
}

.btn-primary {
    background-color: var(--purple-300);
    color: var(--white);
}

.btn.btn-big {
    width: 180px;
    height: 50px;
    margin-left: 16px;
    margin-right: 16px;
}

.btn.btn-mid {
    width: 80px;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 10px;
}

.btn-block {
    width: 100%;
}

.title {
    height: 32px;
    font-family: Avenir Next;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.25px;
    color: inherit;
}

.input-title {
    display: inline-block;
    margin-top: 6px;
    height: 12px;
    font-family: Avenir Next;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--navy-900);
    margin-bottom: 6px;
}

.input-title:first-of-type {
    margin-top: 38px;
}

.desc {
    font-family: Avenir Next;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.1px;
    color: inherit;
}

.desc-light {
    font-family: Avenir Next;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
}

.smile-face {
    margin-top: 32px;
    margin-bottom: 16px;
    width: 40px;
    height: 40px;
    font-family: AppleColorEmoji;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--white);
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.backdrop {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.bg-white {
    background-color: var(--white);
    color: var(--navy-900);
}

.bg-light {
    background-color: var(--navy-50);
    color: var(--navy-900);
}

.bg-dark {
    background-color: var(--navy-900);
    color: var(--white);
}

.bg-white .desc {
    color: #595e8a;
}

.bg-light .desc {
    color: #595e8a;
}

.bg-dark .desc {
    color: var(--white);
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

button label {
    cursor: inherit;
}

.ic-logo-horizontal-purple-300 {
    display: block;
    width: 180px;
    height: 40px;
    background: url("../img/ic-logo-horizontal-purple-300.svg");
    margin-bottom: 24px;
}

.voice-sample-page {
    height: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.voice-sample-desc {
    width: 280px;
    height: 40px;
    margin-bottom: 28px;
    text-align: center;
}

.ic-arrow-down-right-24 {
    display: block;
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.widget-tooltip {
    position: absolute;
    right: 24px;
    bottom: 88px;
    width: 296px;
    height: 124px;
    border-radius: 4px;
}

.img-tooltip-tail-down {
    position: absolute;
    right: 16px;
    bottom: -8px;
    width: 12px;
    height: 8px;
    object-fit: contain;
}

.widget {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

::-webkit-scrollbar {
    width: 5px;  /* 세로축 스크롤바 길이 */    
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: gray;
  }
