<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://dxstmhyqfqr1o.cloudfront.net/sbfont/sbfont.css" />
    <title>Sample</title>
</head>

<body>
    <div id="container" class="wrapper center bg-white">
        <div id="welcome_view" class="column center">
            <img src="<%=require('../img/ic-logo-horizontal-purple-300.svg')%>" alt="logo" class="ic-logo-horizontal-purple-300">
            <div class="title voice-sample-page">
                Calls Sample
            </div>
            <div class="desc voice-sample-desc">
                Choose Sample Type
            </div>
            <div class="row center">
                <a class="btn btn-primary btn-big" href="main.html">
                    <label>Full-Screen Sample</label>
                </a>
                <a class="btn btn-primary btn-big" href="widget.html">
                    <label>Widget Sample</label>
                </a>
            </div>
        </div>
    </div>
</body>

</html>
