<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://dxstmhyqfqr1o.cloudfront.net/sbfont/sbfont.css" />
    <title>Sample</title>
  </head>

  <body>
    <div id="container" class="wrapper center bg-white">
        <div id="welcome_view" class="column center">
            <img src="<%=require('../img/ic-logo-horizontal.svg')%>" alt="Sendbird horizontal logo svg icon" class="ic-logo-horizontal">
            <div class="title voice-sample-page demi">
              Sendbird Calls Quickstart
            </div>
            <div class="choose-a-type">
              Choose a type
            </div>
            <div class="row center margin-top-24">
                <div class="choose-background margin-right-24" onclick="location.href='main.html'">
                  <div class="choose-title">
                    Full-screen
                  </div>
                  <div class="choose-desc">
                    Make a call using a full-screen type.
                  </div>
                </div>

                <div class="choose-background" onclick="location.href='widget.html'">
                  <div class="choose-title">
                    Widget
                  </div>
                  <div class="choose-desc">
                    Make a call using a widget type.
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
