<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://dxstmhyqfqr1o.cloudfront.net/sbfont/sbfont.css" />
    <title>Sample</title>
  </head>

  <body>
    <div id="container" class="wrapper center bg-white">
      <div id="welcome_view" class="column center">
        <img src="<%=require('../img/ic-logo-horizontal.svg')%>" alt="Sendbird horizontal logo svg icon" class="ic-logo-horizontal">
        <div class="voice-sample-page title font-weight-demi">
          Sendbird Calls Quickstart
        </div>
        <div class="title-choice-type">
          Choose an application type
        </div>
        <div class="row center margin-top-24">
          <div class="choice-item margin-right-24" onclick="location.href='main.html'">
            <div class="title-choice-item">
              Full-screen
            </div>
            <div class="desc-choice-item">
              The full-screen application type provides an example of a standalone phone call web app.
            </div>
          </div>

          <div class="choice-item" onclick="location.href='widget.html'">
            <div class="title-choice-item">
              Widget
            </div>
            <div class="desc-choice-item">
              The widget application type showcases how a phone call may be overlaid on top of an existing web application.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
