<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://dxstmhyqfqr1o.cloudfront.net/sbfont/sbfont.css" />
    <title>Widget Sample Main</title>
</head>

<body>
    <div id="container" class="wrapper center">
        <div id="welcome_view" class="column center">
            <img src="<%=require('../img/ic-logo-horizontal.svg')%>" alt="Sendbird horizontal logo svg icon" class="ic-logo-horizontal-purple-300" />
            <div class="voice-sample-page title demi">
              Sendbird Calls Quickstart
            </div>
            <div class="voice-sample-desc desc">
              This is the Sendbird Calls Quickstart page.</br> 
              To try our widget, please click the button below.
            </div>
            <img src="<%=require('../img/ic-arrow-down-right-24.svg')%>" alt="arrow-down-right" class="ic-arrow-down-right-24" />
        </div>
        <div id="widget_tooltip" class="widget-tooltip column center bg-white">
            <div class="smile-face">
                😀
            </div>
            <label class="desc-light">
              To try Calls widget, please click the icon
            </label>
            <img src="<%=require('../img/img-tooltip-tail-down.svg')%>" alt="tooltip-tail-down" class="img-tooltip-tail-down" />
        </div>
        <div id="widget" class="widget">
        </div>
    </div>
</body>

</html>
